@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bright Rose";
  src: url("./assets/BrightRose.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #201e20;
}
